export("use_browsertools")
export("add_css")
export("as_js_object")
export("console_error")
export("console_log")
export("console_table")
export("console_warn")
export("hide_elem")
export("insert_adjacent_html")
export("inner_html")
export("refresh_page")
export("remove_css")
export("remove_element")
export("remove_element_attribute")
export("scroll_to_top")
export("set_element_attribute")
export("show_elem")
export("toggle_css")
importFrom(shiny, getDefaultReactiveDomain, removeResourcePath, addResourcePath)