/* 
Styling for visually hiding elements. This class should be added or removed
using JavaScript (via add_css or remove_css) or using the function `hidden`.
The JS function should also modify corresponding aria-* properties (i.e.,
hidden, expanded, etc.)
*/
.browsertools-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
}