// Variables
$dark: #353535;
$text: #3f454b;
$light: #f6f6f6;
$primary: #43aa8b;
$secondary: #8783d1;
$heading-line-height: 1.3;
$text-heading-line-height: 1.6;
$breakpoint: 972px;

// html + body
html,
body {
    padding: 0;
    margin: 0;
    font-size: 16pt;
    font-family: Helvetica, Arial, sans-serif;
}

// headings
h1,
h2,
h3 {
    color: $dark;
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
    line-height: $heading-line-height;
}

// p
p {
    color: $text;
    padding: 0;
    margin: 0;
    margin-bottom: 18pt;
    line-height: $text-heading-line-height;
}

// buttons
button {
    background-color: none;
    border: none;
    cursor: pointer;
}

.b {
    padding: 4px 8px;
    font-size: 11pt;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 6px 0;
    background-color: $primary;
    color: $light;
}

// lists
ul {
    list-style: disc;

    li {
        color: $text;

        .funcname {
            &:after {
                content: ": ";
            }
        }
    }
}

// code blocks
pre {
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    background-color: $dark;
    color: $light;
    padding: 0 16px;
    font-family: "Courier New", Courier, monospace;
    overflow-x: auto;
    font-size: 13pt;
}

code {
    white-space: pre;
}

// visually hidden
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
}

// section
.section {
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

// hero
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-color: $primary;

    .hero-content {
        width: 90%;
        margin: 0 auto;

        h1,
        h2 {
            color: $light;
            margin-bottom: 0;
        }
    }
}

// flex
.flex {
    display: flex;

    &.flex-50x2-layout {
        justify-content: center;
        align-items: flex-start;

        .flex-child {
            align-self: stretch;
            width: 100%;
            box-sizing: border-box;
            padding: 16px;

            &:first-child {
                padding-left: 0;
            }
        }
    }
}

// text example
.text-example {
    transition: all 0.5s ease;
}

// stylized text elements
.funcname,
.pkgname,
.argname {
    font-family: "Courier New", Courier, monospace;
    background-color: $light;
    box-sizing: content-box;
    padding: 2px 6px;
}

.funcname {
    font-weight: bold;
    color: $secondary;
}

.pkgname {
    font-weight: bold;
    color: $primary;
    box-shadow: inset 0 -2px 0 0 $primary;
}

.argname {
    color: $primary;
    font-weight: bold;
}

.browsertools-results {
    background-color: $light;
}

#logo {
    transform: scale(2);
    margin-bottom: 16px;
    margin-left: 16px;
}

// breakpoint
@media (min-width: $breakpoint) {
    // hero and section
    .section,
    .hero .hero-content {
        max-width: $breakpoint;
    }

    // flex
    .flex {
        &.flex-50x2-layout {
            .flex-child {
                width: 50%;
            }
        }
    }
}
